content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    color: #CCCCCC;
    height: 1080px;
    padding-top: 8%;
    align-content: flex-start;
    align-items: center;

 
}



.temp_Property{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 3px;


}

.ULtemp
{
    font-size: 30px;
}
.Utemp::before{
    content: "/ ";
}
.mood{
    font-size: 50px;
}
.temp
{
    
    font-weight: 200;
    font-size: 200px    ;
}



.middle_Property
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
}
.boolean_of_ms{
    margin-top: 35px;
    font-size: 50px;
    text-align: center;
    font-weight: 200;
}
