header{
    display: flex;
    flex-direction: column;

    background-color: black;
    justify-content: space-between;
    opacity: 0.9;
    width: 100%;
    padding-bottom: 2%;
}

.when{    
    display: flex;
    flex-direction: row;
    color: lightgray;
}

.middle_date{
    font-size: 100%;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    margin-right: 10%;
}

.last_date{

    font-size: 100%;
}

.title{
    position: relative;
    margin-left: 30%;
    color: white;
    font-size: 170%;
    margin-bottom: 3%;
}

.select_Area{
    padding: 0px;
}

.Barea{
    display: none;
}

.Sarea{
    width: 30%;
    height: auto;
}

select {
    font-size: 15px;
    color: #cccccc;

width: 200px; /* 원하는 너비설정 */
padding: 0.6em 1.5em; /* 여백으로 높이 설정 */
font-family: inherit;  /* 폰트 상속 */
background: no-repeat 95% 50%; /* 네이티브 화살표 대체 */  
border: 1px solid #cccccc; 
border-radius: 0px; /* iOS 둥근모서리 제거 */
-webkit-appearance: none; /* 네이티브 외형 감추기 */
-moz-appearance: none;
appearance: none;
}

option{
    color: #cccccc;
    background-color: #1b1b1b
}
