nav{
    width: 95%;
    position: relative;
    top: 270%;
    left: 2%;
    margin-top: 30%;
    width: 90%;
}

.hr_bar{
    width:100%; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

.ele{
    color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    height: 350px;
    align-items: center;

    border-collapse: collapse ;
    padding-right: 2%;
    padding-left:  2%;
}   

.ele{
    border-right: 1px solid #cccccc;
}
.ele:nth-child(10){
    display: none;
}
.ele:nth-child(9){
    display: none;
}
.ele:nth-child(8){
    display: none;
}
.ele:nth-child(7){
    display: none;
}
.ele:nth-child(6){
    display: none;
}


@media (max-width: 980px){
    .ele:nth-child(6){
        display: none;
    }
}

img{
    width: 55px;
}

.ele_title{
    font-size: 150%;
    margin-bottom: 35px;
}

.ele .mood_img{
    margin-bottom: 35px;
}

.ele_temp{
    font-size: 30px;
}

.n{
    margin: 3px;
}

.props{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
