content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    color: #CCCCCC;
    padding-top: 8%;
    align-content: flex-start;
    align-items: center; 
}

.mood{
    font-size: 200%;
}

.temp_num{
    font-size: 110%;
}

.temp_Property{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 3px;
}

.ULtemp
{
    font-size: 2em;
}
.Utemp::before{
    content: "/ ";
}

.temp
{
    font-weight: 200;
    font-size: 1000%;
}



.middle_Property
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 220%;
    width: 90%;
    text-align: center;
    margin-top: 10px;
}
.boolean_of_ms{
    font-size: 100%;
    text-align: center;
    margin: 4%;
}
