section{
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3em;
}

section .title{
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
    border-bottom: 0.1em #cccccc double;
}

.back .title{
    color: white;
    position: absolute;
    left: 47%;
    bottom: 100%;
    transform: translate(-50%, -50%);    
}

.front{
    position: absolute;
    top: 155%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back{
    position: absolute;
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.summary{
    display: none;
    color: white;
    padding-top: 2em;
    font-size: 1.6em;
    padding-bottom: 3%;
    border-bottom: 1px solid #cccccc;
    
}

.content{
    margin-top: 5em;
}

.hr{
    display: none;
}

.content_w{
    
    position: relative;
    padding: 1em;
    font-size: 25px;
    color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
    border-bottom: 1px #464646 solid;
}

section img{
    width: 40px;
    height: 40px;
}

table ,td{
    color: white;
    border-collapse: collapse ;
    padding: 30px 50px 30px 50px;

    position: relative;
    text-align: center;
}

td:nth-child(1){
    border-right: 3px #cccccc solid ;
}

td:nth-child(2){
    border-right: 3px #cccccc solid ;
}


.lastTd{
    border-top: 3px #cccccc solid;
}


section .middle_content
{
    font-size: 70px;
}
