footer
{
    position: absolute;
    top: 380%;
    background: linear-gradient(to top, black, 50%, rgba(0,0,0,0));
    
    box-sizing: border-box;
    border-image: radial-gradient(black , #cccccc,  black );
    border-image-slice: 1;
    border-style: solid;

    border-image-width: 1% 0 0 0; 

    border-top: 1px white solid;

    color: #cccccc;
}
.footer_if{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.infomation_user
{
    padding-top: 2%;
    text-align: center;
    position: relative;
    right: 7%;
}
.pwtsl
{
    padding-top: 2%;

    position: relative;
    left: 3%;

}

.email{
    margin-top: 10px;
}

.plus
{
    position: relative;
    bottom: 20px;

    margin-left: 10px;
}

.github{
    position: relative;
    top: 20px;
    right: 5%;
}