nav{
    width: 95%;
    position: absolute;
    top: 270%;
    margin-top: 30%;
}

nav .title{
    text-align: center;
}

.ele{
    color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    height: 350px;
    align-items: center;

    border-collapse: collapse ;
    padding-right: 2%;
    padding-left:  2%;
}   

.ele:nth-child(odd){
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.ele:nth-child(10){
    border-right: 1px solid #cccccc;

}
.ele_title{
    font-size: 30px;
    margin-bottom: 35px;
}

.ele .mood_img{
    margin-bottom: 35px;
}

.ele_temp{
    font-size: 30px;
}

.n{
    margin: 5px;
}

.props{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
